.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
}
.dice{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btn{
    width: 15em;
    padding: 1em;
    background-color: steelblue;
    color: white;
    border: 0px;
    border-radius: 10px;
}