.todo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border: 1px solid #d7dadc;
    padding: 0;
    margin: 0.5em;
    width: 80vh;
    min-height: 10vh;
    background-color: #464748;
}

.todo li{
  text-decoration: none;
}

.todo p{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 8em;
    margin-right: 2em;
}

.Todo_completed{
    background: #464748;;
    text-decoration: line-through;
}

/* .todo input[type="checkbox"] {
    display: none;
  }
  .todo input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    font: 14px/20px "Open Sans", Arial, sans-serif;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  .todo input[type="checkbox"]:hover + label:hover {
    color: rgb(23, 86, 228);
  }
  .todo input[type="checkbox"]:hover + label:before {
    background: #6dff31;
    box-shadow: inset 0px 0px 0px 2px #f7f2f2;
  }
  .todo input[type="checkbox"] + label:last-child {
    margin-bottom: 0;
  }
  .todo input[type="checkbox"] + label:before {
    content: "";
    display: block;
    width: 1.4em;
    height: 1.4em;
    border: 1px solid #343a3f;
    border-radius: 0.2em;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 0.2s, background 0.2s ease-in-out;
    transition: all 0.2s, background 0.2s ease-in-out;
    background: #f3f3f3;
  }
  .todo input[type="checkbox"]:checked + label:before {
    width: 1.3em;
    height: 1.3em;
    border-radius: 0.2em;
    border: 2px solid #fff;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background: #6dff31;
    box-shadow: 0 0 0 1px #000;
  } */
.edit, .delete{
    background-color: #464748;
}
.edit img{
    height: 3em;
}

.delete img{
    height: 2.6em;
}