.lotto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
    border: 2px solid black;
    width: 50em;
    height: 50em;
}

.lotto h1{
    font-size: 2em;
    font-weight: 500;
    color: slateblue;
}